/.bundle
/cookbook/.kitchen
/config/database.yml
/config/ldap.yml
/config/secrets.yml
/coverage
/doc
/ldap/slapd-test.conf
/ldap/openldap-data
/log/*.log*
/public/assets
/public/favicon.ico
/tmp
/vendor/bundle
/vendor/engines
/.yardoc
.bash_history
.irb_history