<% title "Setup Wizard" %>
<% nav_section :settings %>
<% jumbotron do %>
  <h1>Setup Wizard</h1>
  <p>Step 4: Github settings</p>
<% end %>

<p>Enter information about your Github.com organization(s) below.</p>

<%= form_tag({action: :update}, method: :put, class: 'form-horizontal max-col-sm') do %>
  <% if @error %>
    <div class="alert alert-danger"><%= @error %></div>
  <% end %>

  <h2>Github</h2>
  <%= render 'settings/github' %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= submit_tag('Next', class: 'btn btn-default btn-primary') %>
    </div>
  </div>
<% end %>
