<% title "Setup Wizard" %>
<% nav_section :settings %>
<% jumbotron do %>
  <h1>Setup Wizard</h1>
  <p>Step 1: Company settings</p>
<% end %>

<p>Let's get started configuring the Github Connector.</p>

<p>This wizard will guide you through configuring the Github Connector.  Along the way, we'll make some educated guesses for defaults, but please review each configuration option as you go.  You may always update settings after completing the wizard.</p>

<p>First, enter some information about your company below.</p>

<%= form_tag({action: :update}, method: :put, class: 'form-horizontal max-col-sm') do %>
  <% if @error %>
    <div class="alert alert-danger"><%= @error %></div>
  <% end %>

  <h2>Company</h2>
  <%= render 'settings/company' %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= submit_tag('Next', class: 'btn btn-default btn-primary') %>
    </div>
  </div>
<% end %>
