@import "bootstrap/variables";

.connect-steps {
  .list-group-item {
    padding-left: 32px + $grid-gutter-width;

    &.active {
      color: inherit;
      background-color: $list-group-bg;
      border-color: $list-group-border;
    }

    .step-icon {
      display: none;
      float: left;
      font-size: 30px;
      margin-left: -(32px + ($grid-gutter-width / 2));
      &.step-icon-complete { color: green; }
      &.step-icon-error { color: red; }
    }
    span.step-icon {
      width: 32px;
    }

    &.active .step-icon-active { display: inline-block; }
    &.complete .step-icon-complete { display: inline-block; }
    &.complete .step-icon-active { display: none; }
    &.error .step-icon-error { display: inline-block; }
  }

  &.inprogress {
    .list-group-item.active {
      .step-icon-active { display: none; }
      .step-icon-loading { display: inline-block; }
    }
  }
}
